<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>"Consulta Clima"</h1>
      </div>

        <ul class="form-check">
          <li class="form-check-label"
          *ngFor="let item of cd; let i = index">
            <input type="radio"
                  class="form-check-input"
                  name="opcionSeleccionado"
                  [value]="i"
                  [(ngModel)]="opcionSeleccionado"
                  (change)="capturar(opcionSeleccionado)">
                  {{item.ciudad}}
          </li>
        </ul>

      <div class="col-12">
        <div class="row">
          <div class="col-12 text-center">
            <h1>{{ciudadElegida}}</h1>
          </div>

          <div class="col-6">
            <h5>Clima :</h5>
          </div>
          <div class="col-6 text-center">
            <h5>{{descripcion}}</h5>
          </div>

          <div class="col-6">
            <h5>Temperatura :</h5>
          </div>
          <div class="col-6 text-center"
          *ngFor="let item of cl">
            <h5>{{item.main.temp}} F</h5>
          </div>

          <div class="col-6">
            <h5>Velocidad del viento :</h5>
          </div>
          <div class="col-6 text-center"
          *ngFor="let item of cl">
            <h5>{{item.wind.speed}} k/h</h5>
          </div>

          <div class="col-6">
            <h5>Coordenadas de la ciudad :</h5>
          </div>
          <div class="col-6 text-center" *ngFor="let item of cl">
            <h5>(Lat: {{item.coord.lon}} , Long: {{item.coord.lat}})</h5>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
